<!DOCTYPE html>
<html>

<head>
    <%- include("includes/head"); %>
</head>

<body>
    <%- include("includes/nav"); %>
    <div class="container">
        <div id="Card-TQ_Similarity_Chker" class="card">
            <div class="card-header clearfix">
                <div class="card-title h4 float-left">지문-질문 유사도 분석기</div>
            </div>

            <div class="card-body">
                <table id="Table-TQ_Similarity_Chker" class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">_id</th>
                            <th scope="col">날짜</th>
                            <th scope="col">엔진 버전</thscope="col">
                            <th scope="col">지문</thscope="col">
                            <th scope="col">문단 번호</th>
                            <th scope="col">질문</th>
                            <th scope="col">답변</th>
                            <th scope="col">결과</th>
                            <th scope="col" style="width: 45px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( var i = 0; i < results__TQ_Similarity_Chker.length; i++ ) { %>
                        <tr data-toggle="modal"
                            data-target="#Modal-TQ_Similarity_Chker-<%= results__TQ_Similarity_Chker[i]["id"] %>">
                            <td><%= results__TQ_Similarity_Chker[i]["id"] %></td>
                            <td><%= results__TQ_Similarity_Chker[i]["createdAt"] %></td>
                            <td><%= results__TQ_Similarity_Chker[i]["version"] %></td>
                            <td><%= results__TQ_Similarity_Chker[i]["text"] %></td>
                            <td><%= results__TQ_Similarity_Chker[i]["paragraph"] %></td>
                            <td><%= results__TQ_Similarity_Chker[i]["question"] %></td>
                            <td><%= results__TQ_Similarity_Chker[i]["answer"] %></td>
                            <td><%= results__TQ_Similarity_Chker[i]["query_result"] %></td>
                            <td style="text-align: center;">
                                <p class="delbtn"
                                    onclick='TQ_Similarity_Checker__delete("<%= results__TQ_Similarity_Chker[i]["id"] %>")'>
                                    <i class="far fa-trash-alt"></i></p>
                                </tsd>
                        </tr>
                        <% } %>
                    </tbody>
                </table>

                <!--Modals-->
                <% for( var i = 0; i < results__TQ_Similarity_Chker.length; i++ ) { %>
                <div id="Modal-TQ_Similarity_Chker-<%= results__TQ_Similarity_Chker[i]["id"] %>"
                    class="modal fade modal-TQ_Similarity_Chker" tabindex="-1" role="dialog"
                    aria-labelledby="Modal-TQ_Similarity_Chker-<%= results__TQ_Similarity_Chker[i]["id"] %>-Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="Modal-TQ_Similarity_Chker-<%= results__TQ_Similarity_Chker[i]["id"] %>-Label">쿼리
                                    보기</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <p class="font-weight-bold">Query ID</p>
                                    <pre><%= results__TQ_Similarity_Chker[i]["id"] %></pre>
                                </div>
                                <div>
                                    <p class="font-weight-bold">날짜</p>
                                    <pre><%= results__TQ_Similarity_Chker[i]["createdAt"] %></pre>
                                </div>
                                <div>
                                    <p class="font-weight-bold">엔진 버전</p>
                                    <pre><%= results__TQ_Similarity_Chker[i]["version"] %></pre>
                                </div>
                                <div>
                                    <p class="font-weight-bold">지문</p>
                                    <pre><%= results__TQ_Similarity_Chker[i]["text"] %></pre>
                                </div>
                                <div>
                                    <p class="font-weight-bold">문단 번호</p>
                                    <pre><%= results__TQ_Similarity_Chker[i]["paragraph"] %></pre>
                                </div>
                                <div>
                                    <p class="font-weight-bold">질문</p>
                                    <pre><%= results__TQ_Similarity_Chker[i]["question"] %></pre>
                                </div>
                                <div>
                                    <p class="font-weight-bold">답</p>
                                    <pre><%= results__TQ_Similarity_Chker[i]["answer"] %></pre>
                                </div>
                                <div>
                                    <p class="font-weight-bold">쿼리 결과</p>
                                    <pre><%= results__TQ_Similarity_Chker[i]["query_result"] %></pre>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>

                <script>
                    function TQ_Similarity_Checker__delete(id) {
                        if (confirm("id = \"" + id + "\" 쿼리를 삭제하시겠습니까?")) {
                            $.ajax({
                                type: "DELETE",
                                url: "/api/TQ-Similarity-Checker/db/" + id,
                                success: function (data) {
                                    alert("id = \"" + id + "\" 쿼리를 삭제하였습니다.");
                                    location.reload();
                                },
                                error: function () {
                                    alert("id = \"" + id + "\" 쿼리 삭제에 실패하였습니다.")
                                    location.reload();
                                }
                            })
                        }

                    }
                </script>
            </div>

        </div>
    </div>
</body>

</html>